{% load static %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Create Team</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/modal-video/css/modal-video.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <!-- ======= Header ======= -->
  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index.html" class="scrollto">Yorking</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'index' %}">Rules</a></li>
          <li><a href="{% url 'PlayerDashboard' %}" >Player Dashboard</a></li>
          <li><a href="{% url 'Leaderboard' %}">Leaderboard</a></li>
          <li class="menu-active"><a href="{% url 'CreateTeam' %}">Create Team</a></li>
          <li><a href="{% url 'Profile' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->


<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="container">
      <div class="section-title text-center">
          <h2>Create your team for upcoming Matches</h2>
      </div>
    </div>  


    {% csrf_token %}
          {% if error %}
      
        <h3 style="color:red"> {{error_msg}}</h3>

      {% endif %}
     <form action="{% url 'Players_list' %}" method="POST">
  <table class="table" style="text-align: center;">

    <!--Table head -->
    <thead>
      <tr>
        <th><h2>Match ID</h2></th>
        <th><h2>Country-1</h2></th>
        <th><h2>Country-2</h2></th>
        <th><h2>Details</h2></th>
      </tr>
    </thead>
    <!-- end of Table head -->

    <!--Table Body -->
    <tbody>
      
     
        {% for i in matches %}
        {% csrf_token %}
      <tr>
        
        
        <td><p style="font-size:14px;">{{ forloop.counter }}</p></td>
        <td><p style="font-size:14px;">{{ i.country1 }}</p></td>
        <td><p style="font-size:14px;">{{ i.country2 }}</p></td>
        
        <td><input type="radio" name="match" id="match" value="{{i.match_id}}"></td>
      </tr> 
      {% endfor %}
      <br>
      <br><br>
 
      
    </tbody>
  </table>
  <div class="container h-100">
        <div class="d-flex h-100"> 
         <div class="align-self-center mx-auto"> 
      <input type="submit" name="submit" class="btn btn-success">
    </div>
  </div>
</div>
   </form>
</div>

   <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">Yorking</a>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
  <script src="{% static 'vendor/modal-video/js/modal-video.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'vendor/hoverIntent/hoverIntent.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>